In [1]:
import pandas as pd 
from string import ascii_uppercase as alfabeto
import pickle

In [2]:
for letra, i in zip(alfabeto, range(12, 68, 7)):
    print(letra, i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [3]:
todas_tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_tablas = {}
for letra, i in zip(alfabeto, range(12, 68, 7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]:"Team"}, inplace=True)
    df.pop("Qualification")
    dict_tablas[f"Group {letra}"] = df

In [5]:
dict_tablas.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [8]:
dict_tablas["Group H"]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [10]:
with open("dict_table", "wb") as output:
    pickle.dump(dict_tablas, output)